[Unit]
Description=On boot, begin running CV system
After=network.target

[Service]
ExecStart=/home/debian/robomaster_CV/main.py
Restart=on-failure
User=root
Group=root
Type=simple

[Install]
WantedBy=multi-user.target